<div class="container" [class.is-mobile]="mobileQuery.matches">
  <sb2-header [snav]="snav"></sb2-header>
  <mat-sidenav-container class="sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav opened
        [mode]="mobileQuery.matches ? 'over' : 'side'"
        [fixedInViewport]="mobileQuery.matches"
        fixedTopGap="56"
        class="sidenav">
    <sb2-left-menu></sb2-left-menu>
    </mat-sidenav>

    <mat-sidenav-content>
      <sb2-clouds></sb2-clouds>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
